<!DOCTYPE HTML>
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ex Machina by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<!--
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-panels.min.js"></script>
		<script src="/static/js/init.js"></script>
		-->
		
		<!--<noscript>-->
			<link rel="stylesheet" href="/static/css/skel-noscript.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
		<!--</noscript>-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/css/ie/v9.css" /><![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  		
	</head>
	<body class="homepage">
	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Get Paid To Stream</a></h1>
					</div>
				{% load i18n %}
        {% load account %}
        {% if socialaccount.providers %}
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="/">Homepage</a></li>
							{% if user.is_authenticated %}
							<li><a href="/accounts/logout/">Logout</a></li>
							{% else %}
							{% include "socialaccount/snippets/provider_list.html" with process="login" %}
							{% endif %}
							<li><a href="/admin/">Admin</a></li>
						</ul>
					</nav>
          {% include "socialaccount/snippets/login_extra.html" %}
			</div>
		</div>
	<!-- Header -->
		
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->
  
  
  
  
  {% endif %}
	<!-- Main -->
		<div id="page">

			<!-- Extra -->
			<div id="marketing" class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Get Paid To Stream<p id="total"></p></h2>
							</header>
							<p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
							
							
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Paid Based on Number of Views<p id="current"></p></h2>
							</header>
							<p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
							
							
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Earn Money Doing What You Like<p id="averageViewers"></p></h2>
							</header>
							<p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
							
							
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Get Paid To Stream<p id="followers"></p></h2>
							</header>
							<p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
							
							
						</section>
					</div>
				</div>
				<canvas id="myChart" width="400" height="400"></canvas>
			  <div id="legend"></div>
			</div>
			<!-- /Extra -->
			
			<script>
    	 // var timestamp = {{ timestamp|safe }};
    	 // var totalViews = {{ totalViews|safe }};
    	 // var currViewers = {{ currentViewers|safe }};
    	 // var followers = {{ followers|safe }};
    	  
    	 // if (timestamp.length > 0){
      // 	  document.getElementById("total").innerHTML =totalViews[totalViews.length-1];
      // 	  document.getElementById("followers").innerHTML =followers[followers.length-1];
      	  
      	  
      // 	  document.getElementById("current").innerHTML =currViewers[currViewers.length-1];
      	  
      // 	  var total = 0;
      // 	  for (var i = 0, len = currViewers.length; i < len; i++) {
      //       total = total + currViewers[i];
      //     }
      //     document.getElementById("averageViewers").innerHTML = (total/currViewers.length).toFixed(1);
    	 // }
    	 // else{
    	 //   document.getElementById("total").innerHTML = "--";
      // 	  document.getElementById("followers").innerHTML = "--";
      // 	  document.getElementById("current").innerHTML = "--";
      // 	  document.getElementById("averageViewers").innerHTML = "--";
    	 // }
    		
    		viewsToday = currViewers[currViewers.length-1];
    		viewsThisWeek = currViewers.slice(currViewers.length-8, currViewers.length-1);
    		var data = {
            labels: timestamp,
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: totalViews
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: currViewers
                }
            ]
        };
    		
    		var ctx = document.getElementById("myChart").getContext("2d");
        var myBarChart = new Chart(ctx).Bar(data);
        var legendHolder = document.createElement('div');
        legendHolder.innerHTML = myBarChart.generateLegend();
        
        document.getElementById('legend').appendChild(legendHolder.firstChild);
  	  </script>
				
			<!-- Main -->
			

		</div>
	<!-- /Main -->
  
	<!-- Featured -->
	<!-- /Featured -->

	<!-- Footer -->
		
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright" class="container">
			Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		</div>


	</body>
</html>